.listing-page {
  display: flex;
  flex-direction: column;
  padding: 2.5% 25%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.secondary-images {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 0;
}

.superhost {
  font-weight: bold;
}

.main-image {
  width: 100%;
}

.secondary-images img {
  width: 45%;
}

.favorite-button-toggle {
  cursor: pointer;
  width: 2.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 1em;
}

.top-inner-wrapper {
  display: flex;
}

.bottom-flex {
  display: flex;
  justify-content: space-between;
}
