.listing-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: auto;
  width: 40em;
  margin: 1em;
  section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 0em 1em 1em;
  }
  section {
    img {
      height: auto;
      width: 20em;
    }
  }
}
