.listing-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: solid 0.5px rgba(0,0,0,0.25);
  border-radius: 2.5px;
  box-shadow: 0.5px 0px 0.5px rgba(0,0,0, 0.15);
  height: 15em;
  width: 40em;
  margin: 1em;
  section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 0em 1em 1em;
  }
  button {
    cursor: pointer;
  }
}
.listing-img {
  width: 20rem;
  height: 100%;
}

.favorite-button-active,
.favorite-button-inactive {
  cursor: pointer;
  width: 2.5rem;
  background-color: transparent;
  border: none;
}

.favorite-icon {
  width: 100%;
}
